@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 170 50% 92%;
    --foreground: 240 10% 3.9%;
    --card: 170 50% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 170 50% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 174 46% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 30% 88%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 170 30% 88%;
    --muted-foreground: 240 5% 65%;
    --accent: 267 30% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 170 30% 82%;
    --input: 170 30% 86%;
    --ring: 174 46% 50%;
    --chart-1: 174 76% 61%;
    --chart-2: 267 58% 61%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 174 46% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 174 46% 50%;
  }
  .dark {
    --background: 204 10% 10%;
    --foreground: 170 50% 92%;
    --card: 204 10% 15%;
    --card-foreground: 170 50% 92%;
    --popover: 204 10% 15%;
    --popover-foreground: 170 50% 92%;
    --primary: 174 46% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 10% 20%;
    --secondary-foreground: 170 50% 92%;
    --muted: 204 10% 20%;
    --muted-foreground: 170 20% 65%;
    --accent: 267 30% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 10% 25%;
    --input: 204 10% 25%;
    --ring: 174 46% 50%;
    --chart-1: 174 70% 50%;
    --chart-2: 267 60% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 204 10% 10%;
    --sidebar-foreground: 170 50% 92%;
    --sidebar-primary: 174 46% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 204 10% 20%;
    --sidebar-accent-foreground: 170 50% 92%;
    --sidebar-border: 204 10% 25%;
    --sidebar-ring: 174 46% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
